{% if page.tex_macros %}
<div style="display: none">
$$
{{ page.tex_macros -}}
$$
</div>
{% endif %}

<header class="site-header" role="banner">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <a href="https://www.haskell.org">
	<i class="fas fa-home"></i>
	Haskell
      </a>
      &nbsp;
      &nbsp;
      <a href="https://hoogle.haskell.org">
	<i class="fas fa-search"></i>
	Hoogle
      </a>
    </nav>
  </div>
</header>
